.contactContainer {
  display: inline-block;
  /* background-color: lavender; */

}

 form {
  /* border: 2px solid black; */
  /* border-radius: 7px; */
  position: absolute;
  top: 10vh;
  left: 5vh;
  display: inline-block;
  padding: 25px;
  margin: 5px 0;
  /* background-image: url('projects/formBG.png'); */

}

ul.formUL {
  list-style-type: none;
  padding: 0;
}

li.formLI {
  margin: 5px;
  text-align: left;
}

input {
  margin-top: 3px;
  font-size: 20px;
}
.contactText {
  padding-left: 2px;
  width: 500px;
  height: 30px;
  border: 1px solid black;
  border-radius: 4px;
}

.contactTextarea {
  vertical-align: top;
  width: 500px;
  height: 150px;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 20px;
  padding: 5px;
}

.contactSubmit {
  border: 1px solid black;
  border-radius: 4px;
  height: 30px;
  width: 50px;
  padding: 1px;
  font-size: 12px;
  text-transform: uppercase;
}

.messageSent {

  color: white;
  position: absolute;
  top: 10vh;
  left: 10vh;
  font-size: 25px;
}
